<div class="container">
  <section class="py-5">
    <div class="container">
      <h1 class="font-weight-light">Selecione um de nossos planos</h1>
      <p class="lead">Escolha aquele que melhor te atende e que cabe no seu bolso, afinal o melhor é não ficar desconectado.</p>
    </div>
  </section>

  <div class="row flex-items-xs-middle flex-items-xs-center d-flex justify-content-center">
    <app-price-plan *ngFor="let plan of plans" [value]="plan.valor" [franchise]="plan.franquia"
      [textButton]="'Adquirir Plano'" [url]="'/userform'">
    </app-price-plan>

  </div>
</div>
