$primary-color: #17a2b8;

header.masthead {
  position: relative;
  height: 50vh;
  background-color: #343a40;
  background: url('https://www.chainimage.com/images/tags-wallpapers-high-definition-hd-wallpapers-4k-resolution.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: .3
}

@media (min-width:768px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }

  header.masthead h3 {
    font-size: 4rem;
  }

  .my-text-heading {
    font-size: 2rem;
  }
}

h3.my-heading {
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  text-shadow: black 0.1em 0.1em 0.2em;
  margin: 0;
}

.my-text-heading {
  color: #fff;
  font-size: 20px;
  text-shadow: black 0.1em 0.1em 0.2em;
  margin: 0;
}

.my-text-final {
  color: #fff;
  font-weight: bold;
  font-size: 25px;
  text-shadow: black 0.1em 0.1em 0.2em;
  margin-top: 60px;
}
