<header class="masthead text-white ">
  <div class="overlay"></div>
  <div class="container slider-top-text">
    <div class="row">
      <div class="col-md-12 text-center">
        <h3 class="my-heading">Bem Vindo a <span class="bg-main">Wooza</span></h3>
        <p class="my-text-heading text-center">Aqui você encontrará planos para usar todos os seus dispositivos na maior
          comodidade
          e com uma internet de qualidade</p>
          <p class="my-text-final text-center">Selecione uma plataforma abaixo para continuarmos.</p>

      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="col-sm-12">
    <div class="bs-calltoaction bs-calltoaction-primary" *ngFor="let platform of platforms">
      <div class="row">
        <div class="col-md-9 cta-contents">
          <h1 class="cta-title">{{platform.nome}}</h1>
          <div class="cta-desc">
            <p>{{platform.descricao}}</p>
          </div>
        </div>
        <div class="col-md-3 cta-button">
          <a [routerLink]="'/plans/' + (platform.nome | lowercase)"
            class="btn btn-lg btn-block">Prosseguir</a>
        </div>
      </div>
    </div>
  </div>
</div>
