$primary-color: #17a2b8;
.bs-calltoaction {
  position: relative;
  width: auto;
  padding: 15px 25px;
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.bs-calltoaction>.row {
  display: table;
  width: calc(100% + 30px);
}

.bs-calltoaction>.row>[class^="col-"],
.bs-calltoaction>.row>[class*=" col-"] {
  float: none;
  display: table-cell;
  vertical-align: middle;
}

.cta-contents {
  padding-top: 10px;
  padding-bottom: 10px;
}

.cta-title {
  margin: 0 auto 15px;
  padding: 0;
}

.cta-desc {
  padding: 0;
}

.cta-desc p:last-child {
  margin-bottom: 0;
}

.cta-button {
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn {
  color: #fff;
  background-color: $primary-color;
  border-color: $primary-color;
}

.bs-calltoaction.bs-calltoaction-primary {
  color: #000;
  background-color: #f5f5f5;
  border-color: #fafafa;
}

.lead {
  font-size: 33px;
  margin-bottom: 0px;
}
